      <div class="position-sticky pt-2">
        <ul class="nav flex-column">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>General</span>
          </h6>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index.html">
              <i class="fa fa-home"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/setup.html">
              <i class="fa fa-plug"></i>
              Endpoints
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Universal Clock</span>
          <a class="link-secondary" href="/clock/solar.html" "aria-label="Solar Cycle">
            <i class="fa fa-sun-o"></i>
          </a>
          <a class="link-secondary" href="/clock/lunar.html" "aria-label="Lunar Cycle">
            <i class="fa fa-moon-o"></i>
          </a>
          <a class="link-secondary" href="/clock/astro.html" "aria-label="Astronomical">
            <i class="fa fa-star-o"></i>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/clock/index.html">
              <i class="fa fa-clock-o"></i>
              Chrono Sphere
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clock/event.html">
              <i class="fa fa-calendar"></i>
              Event calendar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clock/cloud.html">
              <i class="fa fa-cloud"></i>
              Forecasting
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Modeling Studio</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/debug/autobahn.html">
              <i class="fa fa-road"></i>
              AutoBahn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/debug/blueprint.html">
              <i class="fa fa-server"></i>
              Blueprints
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/debug/graphiql.html">
              <i class="fa fa-connectdevelop"></i>
              Graph iQl
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/debug/mosquitto.html">
              <i class="fa fa-bug"></i>
              Mosquitto
            </a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="/debug/node-red.html">
              <i class="fa fa-cubes"></i>
              Node-RED
            </a>
          </li>
//-->
          <li class="nav-item">
            <a class="nav-link" href="/debug/parse-sdk.html">
              <i class="fa fa-database"></i>
              Parse S.D.K
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/debug/rdf-sparql.html">
              <i class="fa fa-globe"></i>
              RDF / SparQL
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Watching Online</span>
          <a class="link-secondary" href="/watch/feed.html" "aria-label="Broadcasting">
            <i class="fa fa-camera"></i>
          </a>
          <a class="link-secondary" href="/watch/list.html" "aria-label="M3U8 catalog">
            <i class="fa fa-play"></i>
          </a>
        </h6>
        <ul class="nav flex-column">
<!--
          <li class="nav-item">
            <a class="nav-link" href="/watch/peer/cdnbye/index.html">
              <i class="fa fa-users"></i>
              P2P TV : CDNbye
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/watch/peer/novage/index.html">
              <i class="fa fa-users"></i>
              P2P TV : Novage
            </a>
          </li>
//-->
          <li class="nav-item">
            <a class="nav-link" href="/watch/iptv.html">
              <i class="fa fa-television"></i>
              Internet TV
            </a>
          </li>
        </ul>
      </div>
